name: Create terraform plan

on:
  - pull_request

permissions:
  contents: read
  pull-requests: write

jobs:
  plan:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: [ prod, dev ]
    name: Create a plan for an example terraform configuration
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: terraform plan
        uses: dflook/terraform-plan@dc251c444763eed5defd065b866874b6343017ca # v2.2.2
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        with:
          path: deployments/terraform
          label: ${{ matrix.env }}
          var_file: |
            envs/${{ matrix.env }}/terraform.tfvars
          workspace: ${{ matrix.env }}